.containerPrincipal {
   display: flex;
  justify-content: center;
  margin-left: 300px;
  margin-right: 300px;
      border: 1px solid rgba(102, 102, 109, 0.801);
      padding: 40px;
     
  }
  
  .containerSecundario{
    text-align: center;
  }
  
  .linea {
    border-top: 1px solid rgb(68, 66, 214);
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 20px auto 0 auto;
  }